#!/usr/bin/env bash
echo "Attempting Docker build and deploy"
read -p "Enter dockerhub user: " dockerhub

{% if model %}
read -p "Enter dockerhub repo for model: [model_{{ projectname }}] " model_repo
model_repo=${model_repo:-model_{{ projectname }}}
{% endif %}
{% if explainer %}
read -p "Enter dockerhub repo for explainer: [explainer_{{ projectname }}] " explainer_repo
explainer_repo=${explainer_repo:-explainer_{{ projectname }}}
{% endif %}
{% if transformer %}
read -p "Enter dockerhub repo for transformer: [transformer_{{ projectname }}] " transformer_repo
transformer_repo=${transformer_repo:-transformer_{{ projectname }}}
{% endif %}

{% if model %}
echo "...... Building model ......"
docker build  . -f {{ projectname }}_model/Dockerfile -t "$dockerhub"/"$model_repo":latest
{% endif %}
{% if explainer %}
echo "...... Building explainer ......"
docker build . -f {{ projectname }}_explainer/Dockerfile -t "$dockerhub"/"$explainer_repo":latest
{% endif %}
{% if transformer %}
echo "...... Building transformer ......"
docker build  . -f {{ projectname }}_transformer/Dockerfile -t "$dockerhub"/"$transformer_repo":latest
{% endif %}

{% if model %}
echo "...... Pushing model artifact......"
docker push "$dockerhub"/"$model_repo":latest
{% endif %}
{% if explainer %}
echo "...... Pushing explainer artifact......"
docker push "$dockerhub"/"$explainer_repo":latest
{% endif %}
{% if transformer %}
echo "...... Pushing transformer artifact......"
docker push "$dockerhub"/"$transformer_repo":latest
{% endif %}

