from deeploy.cli.deploy_instances.deeploy_model import DeeployModelLoader
from sample_model import SampleModel

def main():
    # If local model artifact is used you need to provide a path from current directory of this file.
    path_to_model = "model.bst"

    # You need to pass the path if you have a local model artifact to DeeployModelLoader
    {{ projectname }}_modelCore = DeeployModelLoader(path_to_model)

    # You need to pass your implementation of ModelWrapper in model_serve method. This will spawn the model when deployment happens.
    {{ projectname }}_modelCore.model_serve(
        SampleModel
    )
if __name__ == "__main__":
    main()
