:root {

    /* Default color shades */
    /* --md-default-fg-color:            ...; */
    /* --md-default-fg-color--light:     ...;
    --md-default-fg-color--lighter:      ...;
    --md-default-fg-color--lightest:     ...;
    --md-default-bg-color:               ...;
    --md-default-bg-color--light:        ...;
    --md-default-bg-color--lighter:      ...;
    --md-default-bg-color--lightest:     ...; */
  
    /* Primary color shades */
    --md-primary-fg-color:               #00052D;
    /* --md-primary-fg-color--light:        ...; */
    /* --md-primary-fg-color--dark:         ...; */
    --md-primary-bg-color:               #00052D;
    /* --md-primary-bg-color--light:        ...; */
  
    /* Accent color shades */
    /* --md-accent-fg-color:                ...;
    --md-accent-fg-color--transparent:   ...;
    --md-accent-bg-color:                ...;
    --md-accent-bg-color--light:         ...; */
  
    /* Code block color shades */
    /* --md-code-bg-color:                  ...;
    --md-code-fg-color:                  ...; */
  }