from deeploy.cli.deploy_instances.deeploy_transformer import DeeployTransformerLoader 
from sample_transformer import SampleTransformer

def main():
    # You need to create a DeeployTransformerLoader object
    {{ projectname }}_transformerCore = DeeployTransformerLoader()

    # You need to pass your implementation of TransformerWrapper in transformer_serve method. This will spawn the tramsformer when deployment happens.
    {{ projectname }}_transformerCore.transformer_serve(
        SampleTransformer
    )
if __name__ == "__main__":
    main()
