from deeploy.cli.deploy_instances.deeploy_explainer import DeeployExplainerLoader 
from sample_explainer import SampleExplainer

def main():
    # If local explainer artifact is used you need to provide a path from current directory of this file.
    path_to_explainer = "explainer.dill"

    # You need to pass the path if you have a local explainer artifact to DeeployExplainerLoader
    {{ projectname }}_explainerCore = DeeployExplainerLoader(path_to_explainer)

    # You need to pass your implementation of ExplainerWrapper in explainer_serve method. This will spawn the explainer when deployment happens.
    {{ projectname }}_explainerCore.explainer_serve(
        SampleExplainer
    )

if __name__ == "__main__":
    main()
