ARG BASE_IMAGE=python:3.11-slim
FROM --platform=linux/amd64 ${BASE_IMAGE}

RUN useradd deeploy -m -u 1000 -d /home/deeploy

RUN apt-get update && apt-get install gcc python3-dev -y

COPY --chown=deeploy:deeploy  {{ projectname }}_explainer/requirements.txt requirements.txt

RUN pip install --no-cache-dir -r requirements.txt

COPY --chown=deeploy:deeploy  {{ projectname }}_explainer ./

USER 1000

ENTRYPOINT ["python", "__main__.py"]
